button {
  margin: 10px;
  padding: 5px;
}

label {
  margin: 10px;
}

input {
  padding: 5px;
  margin: 10px;
}

select {
  padding: 5px;
  outline: none;
}

.selected {
  border: 2px solid #6d28d9;
  background: #f3e8ff;
}
